
<h3>Listing workouts</h3>

<table id="workout-table">
  <thead>
  <tr>
    <th>Distance (in km)</th>
    <th>Date</th>
    <th>Challenge id</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tfoot>
    <tr>
      <td><%= current_user.workout_distance %> km</td>
    </tr>
  </tfoot>
  <tbody>
    <% @workouts.each do |workout| %>
    <tr>
      <td><%= workout.distance %></td>
      <td><%= workout.workout_date %></td>
      <td><%= workout.challenge.id %></td>
      <td><%= link_to 'Show', workout %></td>
      <td><%= link_to 'Edit', edit_workout_path(workout) %></td>
      <td><%= link_to 'Destroy', workout, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Workout', new_workout_path, class:"btn btn-success" %>
