<div class="masthead">
  <ul class="nav nav-pills pull-right">
    <li class="<%= 'active' if params[:controller] == 'landing_pages' %>"><%= link_to "Home", root_path %></li>
    <li class="<%= 'active' if params[:controller] == 'rank'
    %>"><%= link_to "Rank", rank_path %></li>
    <% if user_signed_in? %>
      <li class="<%= 'active' if params[:controller] == 'workouts' %>">
        <%= link_to "Workouts", workouts_path %>
      </li>
      <li class="<%= 'active' unless params[:controller].match(/devise/).nil? %>">
        <%= link_to "Logout", destroy_user_session_path, :method =>'delete' %>
      </li>
    <% else %>
      <li class="<%= 'active' unless params[:controller].match(/devise/).nil? %>">
        <%= link_to "Login", user_session_path %>
      </li>
      <li>
        <%= link_to "Facebook", user_omniauth_authorize_path(:facebook) %>
      </li>
    <% end %>
  </ul>

  <h3 class="muted">
    Awesome Challange!
  </h3>
</div>
<hr>

<% content_for :foot do %>
<% end %>
